@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="getAll">
    <button id="btn">Get all user</button>
</div>
<br/>

<div id='getUser'>
    <button id="btn">Get user</button>
    <input type="number" id="idInput"/>
</div>
<br/>

<script src="js/index.js"></script>