@{
    Layout = "/Views/Shared/_Layout.cshtml";
}
<h1>Login</h1>
<div class="form-group">
    <lable for="loginUser">Login:</lable>
    <input id="login" class="form-control" name="Login"/>
    <lable for="passwordUser">Password:</lable>
    <input id="password" class="form-control" name="Password"/>
    <br/>
    <input id="send" type="submit" name="Send" class="form-control" value="Send"/>
</div>
<script src="~/js/login.js"></script>